*,
*::after,
*::before,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

body,
html {
	background-color: #f66000;
	color: #ffff;
}

ul,
li {
	list-style: none;
}

body {
	padding: 2rem;
}
